Django
djangorestframework
django-cors-headers
weasyprint
python-decouple
psycopg2-binary
pillow
django-crispy-forms
crispy-bootstrap4
pandas
openpyxl
whitenoise
gunicorn
django-allauth
django-widget-tweaks
django-filter
django-debug-toolbar