{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Teklif Sistemi</h1>
            <p class="lead">Firmamızdan teklif almak için aşağıdaki butona tıklayabilirsiniz.</p>
            <a href="{% url 'musteri_talep_formu' %}" class="btn btn-primary btn-lg">
                Teklif Talebi Oluştur
            </a>
            <hr class="my-4">
            {% if user.is_authenticated %}
                <p>Hoşgeldiniz, {{ user.username }}!</p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Çıkış Yap</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-success">Giriş Yap</a>
                <a href="{% url 'register' %}" class="btn btn-info">Kayıt Ol</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 